{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <p class="lead">Welcome to a Simple Django App for Movies Reviews, your go-to place for movie reviews!</p>
    <hr class="my-4">
    <p>
        This application is a simple web app built with Python and Django for Proyecto Integrador 1.
        It allows users to browse movies, search for movies by title, and in the future, it will allow users to post reviews.
    </p>
    <p>
        We are passionate about movies and wanted to create a platform to share our thoughts and opinions with the world.
    </p>
    <p>
        This project is part of a workshop to learn about web development with Django, Git, and GitHub.
    </p>
    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back to Home</a>
</div>
{% endblock content %}