{% extends 'base.html' %}
{% load image_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{% safe_image_url movie.image %}" class="img-fluid rounded" alt="{{ movie.title }}">
    </div>
    <div class="col-md-8">
        <h2>{{ movie.title }}</h2>
        <p><strong>Genre:</strong> {{ movie.genre|default:'-' }} | <strong>Year:</strong> {{ movie.year|default:'-' }}</p>
        <p>{{ movie.description }}</p>
        {% if movie.url %}
        <p><a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a></p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
</div>
{% endblock content %}