{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-5">Movie Statistics</h1>
  
  <div class="row mb-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Movies by Year</h2>
        </div>
        <div class="card-body text-center">
          <img src="data:image/png;base64,{{ graphic_year }}" alt="Movies by Year" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h2 class="mb-0">Movies by Genre</h2>
        </div>
        <div class="card-body text-center">
          <img src="data:image/png;base64,{{ graphic_genre }}" alt="Movies by Genre" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 